* {
	margin: 0;
	box-sizing: border-box;
	font-family: "blooming elegant sans";
    letter-spacing: .05em;	
}

body {
	background-color: #D6DEE3;
	z-index: 0;
}

.info-graphic {
	width: 100%;
    height: 1em;
}

.fa-info {
	float: right;
	margin-top: 0.8em;
    margin-right: 0.8em;
	cursor: pointer;
}

.explaination-window {
	display: none;
	width: 92%;	
	line-height: 1.2em;
	margin: 0 4%;
}

#main-head, .finished-header {
	text-align: center;
	color: red;
    font-size: 4em;
    line-height: 1.5em;
    margin-top: .8em;	
}

.welcome-info {
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
	font-size: 44px;
	line-height: 1.5em;
}

.welcome-text {
	text-align: center;
	line-height: 40px;
	font-size: 40px;	
}

.welcome-heading {
	margin-top: 20px;
	line-height: 40px;
	font-size: 40px;
}

.fireworks-img {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20px;
    border: solid 10px blue;
    border-radius: 5px;	
}

.progress-bar {
	display: none;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: gray;
    height: 24px;
    border-radius: 10px;
    margin-top: 40px;    
}

.form-modal {
	margin-top: 26px;
	z-index: 100;
}

.form-format {
	text-align: left;
	padding: 10px;
	margin: 10px;
    width: 40%;
    font-size: 20px;
}

input.form-format {
	font-size: 30px;
	cursor: pointer;
    border-radius: 10px;
}

.dish-choices, .serving-size {
	border-radius: 10px;
	font-size: 14px;
}

.progress-text {
	color: white;
	text-align: center;	
	position: absolute;
	width: 20%;
	left: 40%;
	right: 40%;	
    font-size: 1.6em;
}

.exit {
	text-align: right;
	color: white;
	cursor: pointer;
}

.suggestions {
	border-radius: 10px;
}

.progress {
	transition: all 2s;
	background-color: red;
    height: 24px;
    border-radius: 10px;
    width: 0px;
}

.modal-window {
	position: relative;
	border-style: solid;
	border-size: 6px;
	border-color: black;
    height: 580px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	background-color: blue;
	color: white;
	text-align: center;
	margin-top: 5%; 
	display: none;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	padding: 30px;
}

h1.modal-text {
	text-decoration: underline;
}

.modal-text {
	margin-bottom: 16px;
    font-size: 34px;	
}

.drop-down {
	text-align: center;
}

.dish-choices, .serving-size {
	margin: 10px;
	width: 60%;
}

.align-form {
	width: 30%;
	margin: 0 auto;
	text-align: right;
}

.dish-choices {
	padding: 20px;
}

.form-modal-1 {
	text-align: center;
	margin-top: 20px;
	margin: 10px;
}

.dish-choices option, .serving-size option {
	background-color: white;
	margin: 10px;
}

.site-button {
	margin: auto;
	display: block;
	text-align: center;
	background-color: red;
	color: white;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 10px;
	font-size: 30px;
 	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	cursor: pointer;
}

.left-button {
	position: absolute;
	bottom: 0;
	left: 0;
	box-shadow: none;
	margin: 30px;
	border-type: solid;
	border-color: white;
	border-size: 4px;
	border-radius: 10px;
}

.right-button {
	position: absolute;
	bottom: 0;
	right: 0;
	box-shadow: none;
	margin: 30px;
	border-type: solid;
	border-color: white;
	border-size: 4px;
	border-radius: 10px;	
}

.finished-header {
	display:none;
	text-align: center;
	line-height: 40px;
	color: red;
}

#form-data {
	display:none;
	margin-top: 40px;
	margin: 20px;
}

#summary-message {
	display:none;
	padding: 35% 5%;
}

.finale, .form-finished {
	display: none;
	vertical-align: top;
}

.finale {
	line-height: 40px;
}

.final-font {
	display: inline-block;
	width: 30%;
	margin: 5%;
}

.side-image {
	display: inline-block;
	width: 35%;
	margin: 5%;
    margin-top: 140px;	
}

.filled-form {
	font-size: 20px;
}

.field-data {
	font-size: 20px;
	font-weight: bold;
}

#closing-fireworks {
	display: none;
	width: 100%;
}

footer {
	text-align: center;
	margin-top: 50px;
	bottom: 0;
	width: 100%;
}

/*enlarges footer font to match FA icon for copyright*/
.larger-footer {
	font-size: 26px;
}